.footer {
  padding: 50px;
}

.footer__container {
  display: flex;
}

.footer__container-list {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  color: var(--secondary-color);
}

.footer__social-network-list {
  display: flex;
}

.footer__social-network-list > li {
  border: 1px solid var(--primary-color);
}

.footer__social-network-list > li:not(:last-child) {
  margin-right: 10px;
}

.footer__wrapper:not(:first-child) {
  display: flex;
  margin-left: auto;
  gap: 50px;
}

.footer__list-item:not(:last-child) {
  margin-bottom: 15px;
}

.footer__title {
  margin-bottom: 20px;
}

.footer__header__nav-link {
  color: var(--light-color);
  transition: color 250ms var(--timing-function);
}

.footer__header__nav-link:hover {
  color: var(--primary-text-color);
}

.footer__address-list-link {
  font-weight: 700;
  font-family: var(--secondary-font);
  color: var(--primary-text-color);
}

.footer__address-list-link-info {
  font-weight: 400;
  font-family: var(--primary-font);
  color: var(--light-color);
}

.badge {
  position: absolute;
  top: -7px;
  right: 21px;
  background-color: var(--primary-color);
  color: var(--dark-color);
  border-radius: 50%;
  padding: 2px 4px;
  font: 800 8px/1.5 var(--primary-font);
}
