/* START BANNER SECTION*/
.banner {
  background-color: var(--secondary-color);
}

.banner__container {
  display: grid;
  gap: 130px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  color: var(--primary-text-color);
}

/* START BANNER IMFORMATION ABOUT BOOK*/
.banner__welcome {
  display: flex;
  align-items: center;
  font: 400 italic 20px/1.5 var(--secondary-font);
  margin-bottom: 15px;
}

.banner__welcome::before {
  background: var(--primary-color);
  content: '';
  display: block;
  width: 34px;
  height: 1px;
  margin-right: 10px;
}

.banner__title {
  font: 700 65px/1.2 var(--secondary-font);
  letter-spacing: -0.02em;
  margin-bottom: 35px;
}

.banner__book-description {
  color: var(--light-color);
  letter-spacing: -0.01em;
  margin-bottom: 35px;
}

.banner__read-link {
  font: 700 19px/1.5 var(--secondary-font);
  border-bottom: 1px solid var(--primary-text-color);
  transition: color 250ms var(--timing-function);
  color: var(--primary-text-color);
}

.banner__read-link:hover {
  color: var(--primary-color);
}

.banner__book-list {
  display: flex;
  justify-content: space-between;
}

.banner__book-list > li {
  display: block;
  padding-left: 20px;
  position: relative;
}

.banner__button {
  margin: 0 30px 30px 0;
}

.banner__book-list > li::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.banner__book-list-item {
  color: var(--light-color);
}

/* END BANNER IMFORMATION ABOUT BOOK*/

/* START BANNER FRONT PAGE BOOK*/
.banner__book-img {
  border: 8px solid var(--border-color-card);
  opacity: 0.7;
  transition: opacity 250ms var(--timing-function);
  background-image: url('/img/dark-front-page.png');
}

.banner__book-img:hover {
  opacity: 1;
  content: url('/img/light-front-page.png');
}
/* END BANNER FRONT PAGE BOOK*/

/* END BANNER SECTION*/
