/* START BANNER SECTION*/
.home-banner_section {
  background-color: var(--secondary-color);
  padding: 50px 0px;
}
.home-banner_wrapper {
  display: flex;
}
/* START BANNER IMFORMATION ABOUT BOOK*/
.home-banner_book-information {
  max-width: 600px;
  margin: auto 90px auto 0px;
  color: var(--primary-text-color);
}
.home-banner_welcome {
  display: flex;
  align-items: center;
  font: 400 italic 24px/1.5 "Cardo";
  margin-bottom: 15px;
}
.home-banner_welcome::before {
  background: var(--primary-color);
  content: "";
  display: block;
  width: 34px;
  height: 1px;
  margin-right: 10px;
}
.home-banner_title {
  font: 700 65px/1.2 "Cardo";
  letter-spacing: -0.02em;
  margin-bottom: 35px;
}
.home-banner_book-description {
  color: #b4c7e7;
  letter-spacing: -0.01em;
  margin-bottom: 35px;
}
.bnt-banner {
  margin: 0px 30px 30px 0px;
}
.home-banner_read-link {
  font: 700 19px/1.5 "Cardo";
  border-bottom: 1px solid var(--primary-text-color);
  transition: color 250ms var(--timing-function);
}
.home-banner_read-link:hover {
  color: var(--primary-color);
}
.home-banner_book-list {
  display: flex;
  gap: 70px;
}
.home-banner_book-list > li {
  display: flex;
  align-items: first baseline;
}
.home-banner_book-list > li::before {
  content: "";
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

/* END BANNER IMFORMATION ABOUT BOOK*/

/* START BANNER FRONT PAGE BOOK*/
.home-banner_book-img {
  border: 8px solid var(--border-color-card);
  opacity: 0.7;
  transition: opacity 250ms var(--timing-function);
}
.home-banner_book-img:hover {
  opacity: 1;
}
/* END BANNER FRONT PAGE BOOK*/

/* END BANNER SECTION*/
