.blog {
  background-color: var(--background-color);
}
.blog__article-list {
  display: flex;
  margin: -30px;
}
.blog__article-items {
  margin: 30px;
  background-color: var(--primary-text-color);
}
.blog__article-items-block {
  padding: 25px 30px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.blog__article-title {
  color: var(--secondary-color);
  font: 700 20px/1.5 'Cargo', serif;
  margin-bottom: 10px;
}
.blog__article-description {
  margin-bottom: 25px;
}
.blog__article-block {
  display: flex;
  justify-content: space-between;
  color: var(--secondary-color);
}
.blog__article-readmore {
  color: var(--secondary-color);
  text-decoration: underline;
  font-size: 15px;
  transition: color 250ms var(--timing-function);
}
.blog__article-readmore:hover {
  color: var(--primary-color);
  text-decoration: none;
}
