/* HEADER LOGO*/
.header__logo-icon {
  fill: var(--primary-color);
  margin-right: 10px;
}
/* HEADER */
.header {
  background-color: var(--secondary-color);
}
.header__container {
  display: flex;
  align-items: center;
  padding: 20px;
}
.header__container-list {
  display: flex;
}
.header__container-list {
  margin-right: 25px;
}
.header__container-title {
  color: #fff;
  font-size: 23px;
}

/* SOCIAL ICONS */
.header__social-network-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__social-network-list > li:not(:last-child) {
  margin-right: 10px;
}
.social-network-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: #fff;
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function);
}
.social-network-link:hover {
  background-color: var(--primary-color);
}
.social-network-icon {
  fill: var(--secondary-color);
}

/* NAVIGATION PAGES*/

.navigation {
  margin-left: auto;
}
.nav-list {
  display: flex;
  column-gap: 30px;
}
.nav-list-link {
  color: #fff;
  font-size: 17px;
  line-height: 22px;
  transition: color 250ms var(--timing-function);
}
.nav-list-link:hover {
  color: var(--primary-color);
}
.basket-icon {
  margin-right: 30px;
}
