.header {
  background-color: var(--secondary-color);
}

.header__container {
  display: flex;
  align-items: center;
  padding: 20px;
}

.header__container-list {
  display: flex;
}

.header__container-list {
  margin-right: 25px;
}

.header__social-network-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__social-network-list > li:not(:last-child) {
  margin-right: 10px;
}

.header__navigation {
  margin-left: auto;
}

.header__nav-list {
  display: flex;
  column-gap: 30px;
}

.header__nav-list-badge {
  position: relative;
  display: inline-block;
}

.header__nav-link {
  color: #fff;
  font-size: 17px;
  line-height: 22px;
  transition: color 250ms var(--timing-function);
}

.header__nav-link:hover {
  color: var(--primary-color);
}

.header__basket-icon {
  margin-right: 30px;
}
