.testimonial__container {
  display: grid;
  gap: 110px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.testimonial__book-description {
  margin-bottom: 30px;
}

.testimonial__rating {
  display: block;
  padding-left: 25px;
  position: relative;
  font: 700 20px/1.5 var(--secondary-font);
  color: var(--secondary-color);
  margin-bottom: 5px;
}

.testimonial__rating::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.testimonial__block {
  display: flex;
  align-items: center;
  gap: 30px;
}

.testimonial__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.testimonial__user-photo {
  border-radius: 50%;
}

.testimonial__user-review {
  padding: 20px 15px;
  background-color: var(--secondary-color);
}

.testimonial__review {
  color: var(--light-color);
}

.testimonial__user {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.testimonial__user-name {
  margin-left: 15px;
  font: 700 20px/1.5 var(--secondary-font);
  color: var(--primary-text-color);
}

.testimonial__comment {
  color: var(--primary-text-color);
  font: 700 15px/1.5 var(--secondary-font);
  margin-bottom: 10px;
}
