.callout {
  background-color: var(--secondary-color);
}
.callout__container{
  display: grid;
  gap: 125px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.callout_advert-description {
  margin-bottom: 30px;
}
.callout__advert-btn {
  border: 1px solid var(--primary-color);
  background-color: var(--secondary-color);
  color: var(--primary-text-color);
}