.callout {
  background-color: var(--secondary-color);
}

.callout__container {
  display: grid;
  gap: 125px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.callout__advert-description {
  margin-bottom: 30px;
}

.callout__advert-button {
  color: var(--primary-text-color);
}
