@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Inter:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&display=swap");

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
li {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
/* Inherit fonts for inputs and buttons */
select,
button,
input {
  font-family: inherit;
}
a {
  text-decoration: none;
}
body {
  font: 400 19px/1.5 "Inter", sans-serif;
  color: var(--body-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
  padding: 0 15px;
}
