.home-about-writer {
  padding: 150px 0px 150px 0px;
}
.home-about-writen_author-photo {
  margin-right: 100px;
  border: 15px solid var(--primary-color);
}
.home-about-writer_wrapper {
  display: flex;
}
.home-about-writer_author-details {
  max-width: 600px;
}
.home-about-writer_list-data {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 41px;
}
.home-about-item-data > span {
  font: 700 55px/1.5 "Cardo";
  color: var(--secondary-color);
}
.home-about-writer_contact-inf {
  display: flex;
  background-color: var(--secondary-color);
  padding: 15px;
}
.contact-inf-list {
  justify-content: center;
  padding: 20px;
}
.contact-inf-item {
  font: 700 22px/1.5 "Cardo";
  color: var(--primary-color);
}
.contact-inf-list-link {
  color: #b4c7e7;
}
