.home-about-writer {
  background-color: #f4f8ff;
}
.home-about-writer_author-photo {
  margin-right: 100px;
  position: relative;
  z-index: 1;
}

.home-about-writer_author-photo::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 50px;
  left: 50px;
  height: 100%;
  width: 100%;
  border: 15px solid var(--primary-color);
}

.home-about-writer_wrapper {
  display: flex;
}

.home-about-writer_author-details {
  max-width: 600px;
}

.home-about-writer_list-data {
  display: flex;
  align-items: center;
  margin: 20px -20px 40px;
}

.home-about-writer_list-data-item {
  position: relative;
  padding: 0 20px;
}

.home-about-writer_list-data-item:not(:last-child)::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  height: 100%;
  width: 2px;
  background-color: var(--primary-color);
}

.home-about-writer_list-data-item > span {
  font: 700 55px/1 var(--secondary-font);
  color: var(--secondary-color);
}

.home-about-writer_contact-inf {
  display: flex;
  background-color: var(--secondary-color);
  padding: 15px;
}

.contact-inf-list {
  justify-content: center;
  padding: 20px;
}

.contact-inf-item {
  font: 700 22px/1.5 var(--secondary-font);
  color: var(--primary-color);
}

.contact-inf-list-link {
  color: var(--light-color);
}
