.btn-order {
  background-color: var(--primary-color);
  border: 0px;
  padding: 13px 33px;
  color: var(--secondary-color);
  font: 700 19px/1.5 "Cargo", serif;
  cursor: pointer;
  opacity: 0.9;
  transition: background-color 250ms var(--timing-function);
}
.btn-order:hover {
  background-color: #fff;
}
/* BANNER PAGE */
.bnt-banner {
  margin: 0px 30px 30px 0px;
}
/* HOME PAGE */
.home-author_bnt {
  background-color: #fff;
  border: 1px solid var(--primary-color);
  transition: background-color 250ms var(--timing-function);
}
.home-author_bnt:hover {
  background-color: var(--primary-color);
}
